body {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin:0;
  background-color: black;
  color: white;
}

::backdrop, dialog {
  background-color: black;
}

dialog * {
  color: white;
  text-align: center;
}

dialog button {
  background-color: black;
}

dialog {
  width: min(100%,50ch);
  box-sizing: border-box;
}

img {
  width:300px;
}

#app {
  display: flex;
  align-items: center;
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding:100px 50px;
  border-radius: 5px;
  border: 2px white solid;
}

.message.correct {
  color:greenyellow;
}

.message {
  color:red;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score canvas {
  width:200px;
}